modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PAYMENT_CREDS_ENCRYPTION_KEY = "7c22693e3b2512f1852b12bdd4a2a8f5343fdb7a830046509b21be9abd62b8ac"
AWAJIMAA_BACKEND_URL = "https://api.awajimaaapp.io"
SUPER_ADMIN_EMAILS = "app@lumgwunsolutions.com,gwun-orene@lumgwunsolutions.com,admin@lumgwunsolutions.com,lumgwunsolutions@gmail.com,awajimaaapps@gmail.com,awajimaapp@gmail.com,lumgwuns@gmail.com"

[objectStorage]
defaultBucketID = "replit-objstore-d27cc8fc-129c-4580-8bfb-e51fb25d707a"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18571
externalPort = 3003

[[ports]]
localPort = 19306
externalPort = 3002

[[ports]]
localPort = 19679
externalPort = 6800

[[ports]]
localPort = 19821
externalPort = 80

[[ports]]
localPort = 19851
externalPort = 3000

[[ports]]
localPort = 21732
externalPort = 6000

[[ports]]
localPort = 22220
externalPort = 4200

[[ports]]
localPort = 24410
externalPort = 5173

[[ports]]
localPort = 24599
externalPort = 3001

[[ports]]
localPort = 24916
externalPort = 5000
